<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://wespypicuser.afunapp.com/avatar/FiID1vHyNiMhnS2V9Ac74LGJq2mU.jpg?imageView/2/w/195/h/195</string>
		<key>name</key>
		<string>差不多干饭呀</string>
		<key>content</key>
		<string>史铁生：幸福是要自己去寻找的，无论你在空间的哪一个角落，</string>
		<key>imageArray</key>
		<array>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FiWu_1Hqjrxd7odZPDg2o4wK_TEb.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FukOp4qJjZH_tb0moMMy1WLO9mho.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FsVg4n0-6pWEr-ywxKTW2IYnehk-.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FrSUph8BDS-igyqf4miRr1fh6tih.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FirJocQQ5D0ouP-eVn-zf5iW8qjn.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/Fktwz-m7IZUDqmpDNG9PQnvHIBoW.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FjduZAmXFpUl9LudlR1qElse2fgB.jpg?imageView/2/w/414/h/414</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://wespypicuser.afunapp.com/avatar/FiID1vHyNiMhnS2V9Ac74LGJq2mU.jpg?imageView/2/w/195/h/195</string>
		<key>name</key>
		<string>你好我是测试。。</string>
		<key>content</key>
		<string>史铁生：幸福是要自己去寻找的，无论你在空间的哪一个角落，学到很多别人可能一辈子都学不到的东西，当你拥有了别人所不曾拥有的东西那你就是唯一。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://wespypicuser.afunapp.com/avatar/FiID1vHyNiMhnS2V9Ac74LGJq2mU.jpg?imageView/2/w/195/h/195</string>
		<key>name</key>
		<string>差不多干饭呀</string>
		<key>content</key>
		<string>史铁生：幸福是要自己去寻找的，无论你在空间的哪一个角落，在时间的哪一个时刻，你都可以享受幸福，哪怕是你现在正在经历着一场大的浩劫，你也应该幸福，因为你可以在浩劫中看到曙光，能从浩劫中学到很多别人可能一辈子都学不到的东西，当你拥有了别人所不曾拥有的东西那你就是唯一。</string>
		<key>imageArray</key>
		<array>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FiWu_1Hqjrxd7odZPDg2o4wK_TEb.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FukOp4qJjZH_tb0moMMy1WLO9mho.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FsVg4n0-6pWEr-ywxKTW2IYnehk-.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FrSUph8BDS-igyqf4miRr1fh6tih.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FirJocQQ5D0ouP-eVn-zf5iW8qjn.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/Fktwz-m7IZUDqmpDNG9PQnvHIBoW.jpg?imageView/2/w/414/h/414</string>
			<string>https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0163ae5ebb6a49a801207200d6ade8.jpg%400o.jpg&amp;refer=http%3A%2F%2Fimg.zcool.cn&amp;app=2002&amp;size=f9999,10000&amp;q=a80&amp;n=0&amp;g=0n&amp;fmt=auto?sec=1665546029&amp;t=4553fd43e74228319efb86d2a834b240</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://wespypicuser.afunapp.com/avatar/FiID1vHyNiMhnS2V9Ac74LGJq2mU.jpg?imageView/2/w/195/h/195</string>
		<key>name</key>
		<string>差不多干饭呀</string>
		<key>content</key>
		<string>史铁生：幸福是要自己去寻找的，无论你在空间的哪一个角落，在时间的哪一个时刻，你都可以享受幸福，哪怕是你现在正在经历着一场大的浩劫，你也应该幸福，因为你可以在浩劫中看到曙光，能从浩劫中学到很多别人可能一辈子都学不到的东西，当你拥有了别人所不曾拥有的东西那你就是唯一。</string>
		<key>imageArray</key>
		<array>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://wespypicuser.afunapp.com/avatar/FiID1vHyNiMhnS2V9Ac74LGJq2mU.jpg?imageView/2/w/195/h/195</string>
		<key>name</key>
		<string>差不多干饭呀</string>
		<key>content</key>
		<string>史铁生：幸福是要自己去寻找的，无论你在空间的哪一个角落，在时间的哪一个时刻，你都可以享受幸福，哪怕是你现在正在经历着一场大的浩劫，你也应该幸福，因为你可以在浩劫中看到曙光，能从浩劫中学到很多别人可能一辈子都学不到的东西，当你拥有了别人所不曾拥有的东西那你就是唯一。</string>
		<key>imageArray</key>
		<array>
			<string>http://wespypicuser.afunapp.com/moment/Fjeqvh4N3umAtDhUtw33icRSZ4Lc.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FiWu_1Hqjrxd7odZPDg2o4wK_TEb.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FukOp4qJjZH_tb0moMMy1WLO9mho.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FsVg4n0-6pWEr-ywxKTW2IYnehk-.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FrSUph8BDS-igyqf4miRr1fh6tih.jpg?imageView/2/w/414/h/414</string>
			<string>http://wespypicuser.afunapp.com/moment/FirJocQQ5D0ouP-eVn-zf5iW8qjn.jpg?imageView/2/w/414/h/414</string>
		</array>
	</dict>
</array>
</plist>
