<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>VCID</key>
		<string>colock</string>
		<key>tittle</key>
		<string>CADisplayLink时钟</string>
		<key>imageName</key>
		<string>colock</string>
	</dict>
	<dict>
		<key>VCID</key>
		<string>paintBoard</string>
		<key>tittle</key>
		<string>绘画板</string>
		<key>imageName</key>
		<string>drawing_board</string>
	</dict>
	<dict>
		<key>VCID</key>
		<string>guesture</string>
		<key>tittle</key>
		<string>手势解锁</string>
		<key>imageName</key>
		<string>gesture_unlock</string>
	</dict>
	<dict>
		<key>VCID</key>
		<string>PieViewVC</string>
		<key>tittle</key>
		<string>饼状图/柱状图随机色</string>
		<key>imageName</key>
		<string>pieView</string>
	</dict>
	<dict>
		<key>VCID</key>
		<string>TransVC</string>
		<key>tittle</key>
		<string>系统转场动画</string>
		<key>imageName</key>
		<string>trans_view</string>
	</dict>
</array>
</plist>
